apiVersion: v2
type: application
appVersion: v1.40.0
description: The VictoriaLogs cluster Helm chart deploys VictoriaLogs cluster database in Kubernetes.
name: victoria-logs-cluster
version: 0.0.19
sources:
  - https://github.com/VictoriaMetrics/helm-charts
icon: https://avatars.githubusercontent.com/u/43720803?s=200&v=4
kubeVersion: ">=1.25.0-0"
home: https://github.com/VictoriaMetrics/helm-charts
keywords:
  - victorialogs
  - logs
  - kubernetes
  - observability
  - logsql
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/category: "monitoring-logging"
  artifacthub.io/links: |
    - name: Sources
      url: https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-logs-cluster
    - name: Charts repo
      url: https://victoriametrics.github.io/helm-charts/
    - name: Docs
      url: https://docs.victoriametrics.com/victorialogs/cluster/
    - name: Changelog
      url: https://docs.victoriametrics.com/victorialogs/changelog/
dependencies:
  - name: vector
    version: "0.46.*"
    repository: https://helm.vector.dev
    condition: vector.enabled
  - name: victoria-metrics-common
    version: "0.0.*"
    repository: https://victoriametrics.github.io/helm-charts/
