# Default values for victoria-metrics-anomaly.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  # -- Image pull secrets, that can be shared across multiple helm charts
  imagePullSecrets: []
  image:
    # -- Image registry, that can be shared across multiple helm charts
    registry: ""
  # -- Openshift security context compatibility configuration
  compatibility:
    openshift:
      adaptSecurityContext: "auto"
  cluster:
    # -- K8s cluster domain suffix, uses for building storage pods' FQDN. Details are [here](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/)
    dnsDomain: cluster.local.

image:
  # -- Victoria Metrics anomaly Docker registry
  registry: ""
  # -- Victoria Metrics anomaly Docker repository and image name
  repository: victoriametrics/vmanomaly
  # -- Tag of Docker image
  tag: "" # rewrites Chart.AppVersion
  # -- Pull policy of Docker image
  pullPolicy: IfNotPresent

# -- Image pull secrets
imagePullSecrets: []
# -- Override chart name
nameOverride: ""
# -- Override resources fullname
fullnameOverride: ""
# -- Override chart name

# -- Container working directory
containerWorkingDir: "/vmanomaly"

serviceAccount:
  # -- Specifies whether a service account should be created
  create: true
  # -- Annotations to add to the service account
  annotations: {}
  # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
  name:

# -- See `kubectl explain poddisruptionbudget.spec` for more. Details are [here](https://kubernetes.io/docs/tasks/run-application/configure-pdb/)
podDisruptionBudget:
  enabled: false
  minAvailable: 1
  labels: {}

# -- Extra command line arguments for container of component
extraArgs: {}

# -- Additional environment variables (ex.: secret tokens, flags)
env: []

# -- Specify alternative source for env variables
envFrom: []
  #- configMapRef:
  #    name: special-config

# -- Additional hostPath mounts
extraHostPathMounts: []
  # - name: certs-dir
  #   mountPath: /etc/kubernetes/certs
  #   subPath: ""
  #   hostPath: /etc/kubernetes/certs
  #   readOnly: true

# -- Extra Volumes for the pod
extraVolumes: []

  # - name: example
  #   configMap:
  #     name: example

# -- Extra Volume Mounts for the container
extraVolumeMounts: []
  # - name: example
  #   mountPath: /example

# -- Extra containers to run in a pod with anomaly container
extraContainers: []
  # - name: config-reloader
  #   image: reloader-image

# -- Pod's security context. Details are [here](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/)
podSecurityContext:
  enabled: true
  fsGroup: 1000

# -- Check [here](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/) for details.
securityContext:
  enabled: true
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000

# -- Resource object. Details are [here](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/)
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# -- Annotations to be added to the deployment
annotations: {}

# -- Annotations to be added to pod
podAnnotations: {}

# -- Labels to be added to pod
podLabels: {}

# -- Annotations to be added to configMap
configMapAnnotations: {}

# -- NodeSelector configurations. Details are [here](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector)
nodeSelector: {}

# -- Tolerations configurations. Details are [here](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/)
tolerations: []
  # - key: "key"
  #   operator: "Equal|Exists"
  #   value: "value"
  #   effect: "NoSchedule|PreferNoSchedule"

# -- Affinity configurations
affinity: {}

# -- Pod topologySpreadConstraints
topologySpreadConstraints: []
  # - maxSkew: 1
  #   topologyKey: topology.kubernetes.io/zone
  #   whenUnsatisfiable: DoNotSchedule

podMonitor:
  # -- Enable PodMonitor
  enabled: false
  # -- PodMonitor labels
  extraLabels: {}
  # -- PodMonitor annotations
  annotations: {}

# -- Full [vmanomaly config section](https://docs.victoriametrics.com/anomaly-detection/components/)
config:
  # -- Whether to use preset configuration. If not empty, preset name should be specified.
  preset: ""
  # -- [Scheduler section](https://docs.victoriametrics.com/anomaly-detection/components/scheduler/)
  schedulers: {}

  # -- [Models section](https://docs.victoriametrics.com/anomaly-detection/components/models/)
  models: {}

  # -- [Reader section](https://docs.victoriametrics.com/anomaly-detection/components/reader/)
  reader:
    # -- Name of the class needed to enable reading from VictoriaMetrics or Prometheus. VmReader is the default option, if not specified.
    class: "vm"
    # -- Datasource URL address. Required for example `http://single-victoria-metrics-single-server.default.svc.cluster.local:8428` or `http://cluster-victoria-metrics-cluster-vminsert.default.svc.cluster.local:8480`
    datasource_url: ""
    # -- For VictoriaMetrics Cluster version only, tenants are identified by accountID or accountID:projectID. See VictoriaMetrics Cluster multitenancy docs
    tenant_id: ""
    # -- Required. PromQL/MetricsQL query to select data in format: QUERY_ALIAS: "QUERY". As accepted by "/query_range?query=%s".
    # See [here](https://docs.victoriametrics.com/anomaly-detection/components/reader/#per-query-parameters) for more details.
    queries: {}
    #  active_timeseries:
    #    expr: 'sum(vm_cache_entries{type="storage/hour_metric_ids"})'
    #  churn_rate:
    #    expr: 'sum(rate(vm_new_timeseries_created_total[5m]))'
    #  ingestion_rate:
    #    expr: 'sum(rate(vm_rows_inserted_total[5m])) by (type,accountID) > 0'
    #  insertion_rate:
    #    expr: 'sum(rate(vm_http_requests_total{path=~"/api/v1/write|.*insert.*"}[5m])) by (path) > 0'
    #  slow_inserts:
    #    expr: 'sum(rate(vm_slow_row_inserts_total[5m])) / sum(rate(vm_rows_inserted_total[5m]))'
    # -- Frequency of the points returned. Will be converted to `/query_range?step=%s` param (in seconds). **Required** since 1.9.0.
    sampling_period: '1m'

  # -- [Writer section](https://docs.victoriametrics.com/anomaly-detection/components/writer/)
  writer:
    # -- Name of the class needed to enable writing to VictoriaMetrics or Prometheus. VmWriter is the default option, if not specified.
    class: "vm"
    # -- Datasource URL address. Required for example `http://single-victoria-metrics-single-server.default.svc.cluster.local:8428` or `http://cluster-victoria-metrics-cluster-vminsert.default.svc.cluster.local:8480`
    datasource_url: ""
    # -- For VictoriaMetrics Cluster version only, tenants are identified by accountID or accountID:projectID. See VictoriaMetrics Cluster multitenancy docs
    tenant_id: ""

# -- Total number of shards. Must be greater than 0. Details are [here](https://docs.victoriametrics.com/anomaly-detection/faq/index.html#scaling-vmanomaly)
shardsCount: 1
# -- Number of replicas for sharding. Must be greater than 0. Details are [here](https://docs.victoriametrics.com/anomaly-detection/faq/index.html#scaling-vmanomaly)
replicationFactor: 1

# -- Empty dir configuration when persistence is disabled
emptyDir: {}
# -- Persistence to store models on disk.
# Available starting from v1.13.0
persistentVolume:
  # -- Create/use Persistent Volume Claim for models dump.
  enabled: false

  # -- Enables dumping models to persistence disk. This is helpful to reduce memory usage.
  dumpModels: true
  # -- Enables dumpling data which is fetched from VictoriaMetrics to persistence disk. This is helpful to reduce memory usage.
  dumpData: true

  # -- Array of access modes. Must match those of existing PV or dynamic provisioner. Details are [here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)
  accessModes:
    - ReadWriteOnce
  # -- Persistent volume annotations
  annotations: {}

  # -- StorageClass to use for persistent volume. Requires server.persistentVolume.enabled: true. If defined, PVC created automatically
  storageClassName: ""

  # -- Existing Claim name. If defined, PVC must be created manually before volume will be bound
  existingClaim: ""

  # -- Bind Persistent Volume by labels. Must match all labels of targeted PV.
  matchLabels: {}

  # -- Size of the volume. Should be calculated based on the metrics you send and retention policy you set.
  size: 1Gi

# -- License key configuration for vmanomaly. See [docs](https://docs.victoriametrics.com/vmanomaly#licensing)
# Required starting from v1.5.0.
license:
  # -- License key for vmanomaly
  key: ""

  # -- Use existing secret with license key for vmanomaly
  secret:
    # -- Existing secret name
    name: ""
    # -- Key in secret with license key
    key: ""

# -- Add extra specs dynamically to this chart
extraObjects: []
