{{- $ctx := dict "helm" . }}
{{- $isMultitenant := .Values.enableMultitenancy }}
{{- $tenant := ternary "multitenant" "0" $isMultitenant }}
{{- range $i, $az := .Values.availabilityZones }}
  {{- $zone := mergeOverwrite (deepCopy $.Values.zoneTpl) $az }}
  {{- if $zone.vmagent.enabled }}
    {{- if (($zone.vmagent).spec).remoteWrite }}
      {{- fail "Error: distributed vmagent doesn't support customized remoteWrite address" }}
    {{- end }}
    {{- $vmagent := deepCopy $zone.vmagent }}
    {{- $_ := set $vmagent "spec" (mergeOverwrite (deepCopy $.Values.common.vmagent.spec) (deepCopy ($zone.common).spec) (deepCopy ($vmagent.spec))) }}
    {{- $_ := set $zone "vmagent" $vmagent }}
    {{- $_ := set $ctx "appKey" (list "zone" "vmagent" "spec") }}
    {{- $_ := set $ctx "zone" $zone }}
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  labels: {{ include "vm.labels" $ctx | nindent 4 }}
  {{- with $zone.vmagent.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end  }}
  name: {{ include "vm.cr.fullname" $ctx }}
  namespace: {{ include "vm.namespace" $ }}
{{- $remoteWrites := default list }}
{{- range $rwz := $.Values.availabilityZones }}
  {{- $rwZone := mergeOverwrite (deepCopy $.Values.zoneTpl) $rwz }}
  {{- if $rwZone.write.allow }}
    {{- if ($rwZone.write).vmauth }}
      {{- $urlSpec := $rwZone.write.vmauth.spec | default dict }}
      {{- $_ := set $rwZone.write.vmauth "spec" (mergeOverwrite (deepCopy $.Values.common.vmauth.spec) $urlSpec) }}
    {{- end }}
    {{- $_ := set $ctx "style" "managed" }}
    {{- $_ := set $ctx "appKey" (list "zone" "write" "vmauth" "spec") }}
    {{- $_ := set $ctx "zone" $rwZone }}
    {{- $remoteWrites = append $remoteWrites (dict "url" (printf "%s/insert/%s/prometheus/api/v1/write" (include "vm.url" $ctx) $tenant)) }}
    {{- $_ := unset $ctx "style" }}
  {{- end }}
{{- end }}
{{- $_ := set $zone.vmagent.spec "remoteWrite" (concat $remoteWrites ($zone.vmagent.spec.remoteWrites | default list)) }}
{{- if $isMultitenant }}
  {{- $remoteWriteSettings := (dict "useMultiTenantMode" true) }}
  {{- $_ := set $zone.vmagent.spec "remoteWriteSettings" (mergeOverwrite (deepcopy ($zone.vmagent.spec.remoteWriteSettings | default dict)) $remoteWriteSettings) }}
{{- end }}
spec: {{ tpl (toYaml $zone.vmagent.spec) $ctx | nindent 2 }}
{{- end }}
{{- end }}
