{{- $ctx := dict "helm" . }}
{{- $urlCtx := dict "helm" . }}
{{- $isMultitenant := .Values.enableMultitenancy }}
{{- $tenant := ternary "multitenant" "0" $isMultitenant }}
{{- range $i, $az := .Values.availabilityZones }}
  {{- $zone := mergeOverwrite (deepCopy $.Values.zoneTpl) (deepCopy $az) }}
  {{- if $zone.vmagent.enabled }}
    {{- if (($zone.vmagent).spec).remoteWrite }}
      {{- fail "Error: distributed vmagent doesn't support customized remoteWrite address" }}
    {{- end }}
    {{- $vmagent := deepCopy $zone.vmagent }}
    {{- $_ := set $vmagent "spec" (mergeOverwrite (deepCopy $.Values.common.vmagent.spec) (deepCopy ($zone.common).spec) (deepCopy ($vmagent.spec))) }}
    {{- $_ := set $zone "vmagent" $vmagent }}
    {{- $_ := set $ctx "appKey" (list "zone" "vmagent" "spec") }}
    {{- $_ := set $ctx "zone" $zone }}
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAgent
metadata:
  labels: {{ include "vm.labels" $ctx | nindent 4 }}
  {{- with $zone.vmagent.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end  }}
  name: {{ include "vm.cr.fullname" $ctx }}
  namespace: {{ include "vm.namespace" $ }}
{{- $remoteWrites := default list }}
{{- range $rwz := $.Values.availabilityZones }}
  {{- $rwZone := mergeOverwrite (deepCopy $.Values.zoneTpl) $rwz }}
  {{- if $rwZone.write.allow }}
    {{- $_ := set $urlCtx "style" "managed" }}
    {{- $_ := set $urlCtx "zone" $rwZone }}
    {{- if ($rwZone.vmcluster).enabled -}}
      {{- $_ := set $rwZone.vmcluster "spec" (mergeOverwrite (deepCopy $.Values.common.vmcluster.spec) (deepCopy ($rwZone.common).spec) (deepCopy ($rwZone.vmcluster.spec))) -}}
      {{- $_ := set $urlCtx "appKey" (list "zone" "vmcluster" "spec" "vminsert") }}
      {{- $remoteWrite := printf "%s/insert/%s/prometheus/api/v1/write" (include "vm.url" $urlCtx) $tenant -}}
      {{- $remoteWrites = append $remoteWrites (dict "url" $remoteWrite) -}}
    {{- else if ($rwZone.vmsingle).enabled -}}
      {{- $_ := set $rwZone.vmsingle "spec" (mergeOverwrite (deepCopy $.Values.common.vmsingle.spec) (deepCopy ($rwZone.common).spec) (deepCopy ($rwZone.vmsingle.spec))) -}}
      {{- $_ := set $urlCtx "appKey" (list "zone" "vmsingle" "spec") }}
      {{- $replicas := (($rwZone.vmsingle).spec).replicaCount | default 1 }}
      {{- range $id := until (int $replicas) -}}
        {{- $_ := set $urlCtx "appIdx" $id -}}
        {{- $remoteWrite := printf "%s/prometheus/api/v1/write" (include "vm.url" $urlCtx) -}}
        {{- $remoteWrites = append $remoteWrites (dict "url" $remoteWrite) -}}
      {{- end -}}
    {{- end -}}
    {{- $_ := unset $urlCtx "style" }}
  {{- end }}
{{- end }}
{{- $rw := concat $remoteWrites ($zone.vmagent.spec.remoteWrites | default list) -}}
{{- if eq (len $rw) 0 -}}
  {{- fail (printf "VMAgent in %q zone has no remote writes. Please disable it" $zone.name) }}
{{- end -}}
{{- $_ := set $zone.vmagent.spec "remoteWrite" $rw }}
{{- if $isMultitenant }}
  {{- $remoteWriteSettings := (dict "useMultiTenantMode" true) }}
  {{- $_ := set $zone.vmagent.spec "remoteWriteSettings" (mergeOverwrite (deepCopy ($zone.vmagent.spec.remoteWriteSettings | default dict)) $remoteWriteSettings) }}
{{- end }}
{{- if not $zone.vmagent.spec.nodeSelector }}
  {{- $_ := set $zone.vmagent.spec "nodeSelector" (dict "topology.kubernetes.io/zone" "{{ (.zone).name }}") }}
{{- end }}
spec: {{ tpl (toYaml $zone.vmagent.spec) $ctx | nindent 2 }}
{{- end }}
{{- end }}
