{{- $ns := include "vm.namespace" . }}
{{- $ctx := dict "helm" . }}
{{- range $i, $zone := .Values.availabilityZones }}
{{- if and $zone.read.crossZone.vmauth.enabled $zone.read.perZone.vmauth.enabled }}
---
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAuth
metadata:
  {{- $_ := set $ctx "appKey" (list "availabilityZones" $i "read" "crossZone" "vmauth") }}
  {{- $_ := set $ctx "zone" $zone }}
  name: {{ include "vm.cr.fullname" $ctx }}
  namespace: {{ $ns }}
  labels: {{ include "vm.labels" $ | nindent 4 }}
  {{- with $zone.read.crossZone.vmauth.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
{{- $spec := mergeOverwrite (deepCopy $.Values.common.vmauth.spec) (deepCopy (($zone.common).spec)) (deepCopy (((($zone.read).crossZone).vmauth).spec)) }}
spec: {{ toYaml (omit $spec "unauthorizedAccessConfig") | nindent 2 }}
  unauthorizedAccessConfig:
  - src_paths:
    - "/select/.+"
    load_balancing_policy: first_available
    retry_status_codes:
    - 503
    {{- $_ := set $ctx "style" "managed" }}
    {{- $urls := default list }}
    {{- if $zone.read.allow }}
      {{- $_ := set $ctx "appKey" (list "availabilityZones" $i "read" "perZone" "vmauth") }}
      {{- $urls = append $urls (include "vm.url" $ctx) }}
    {{- end }}
    {{- range $j, $cross := $.Values.availabilityZones }}
      {{- if and (ne $j $i) $cross.read.allow }}
        {{- $_ := set $ctx "appKey" (list "availabilityZones" $j "read" "perZone" "vmauth") }}
        {{- $_ := set $ctx "zone" $cross }}
        {{- $urls = append $urls (include "vm.url" $ctx)}}
      {{- end }}
    {{- end }}
    {{- if empty $urls }}
      {{- fail (printf "No read backend urls defined for vmauth in AZ %s" $zone.name) -}}
    {{- end }}
    url_prefix: {{ toYaml $urls | nindent 4 }}
    {{- $_ := unset $ctx "style" }}
{{- end }}
{{- end }}
