.idea
.DS_Store
.vscode/
charts/*/charts/**
charts/**/_index.md
test/.cache/**
test-charts/*/charts/**
test-charts/*/Chart.lock
.cr-release-packages
.cr-release-packages/**
!charts/*/charts/crds
!charts/*/charts/crds/**
charts/**/charts/crds/_index.md
.helm/
.local/
tmp/
