.idea
.DS_Store
.vscode/
charts/*/charts/**
.cr-release-packages
.cr-release-packages/**
!charts/victoria-metrics-k8s-stack/charts/crds
!charts/victoria-metrics-k8s-stack/charts/crds/**
.helm/
.local/
tmp/
