.idea
.DS_Store
.vscode/
charts/*/charts/**
.cr-release-packages
.cr-release-packages/**
!charts/*/charts/crds
!charts/*/charts/crds/**
.cr-release-packages
.cr-release-packages/**
.helm/
.local/
tmp/
