{{- if eq .Values.configMap "" }}
{{- if .Values.rateLimiter.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" .}}
  namespace: {{ include "vm.namespace" . }}
  labels: {{ include "chart.labels" . | nindent 4 }}
data:
  rate-limiter.yml: |{{ toYaml .Values.rateLimiter.config | nindent 4 }}
{{- end }}
{{- end }}
