{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "vmalert.serviceAccountName" . }}
  namespace: {{ include "vm.namespace" . }}
  labels: {{ include "vmalert.common.metaLabels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
{{- end -}}
