{{- if eq .Values.server.configMap "" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vmalert.server.configname" . }}
  namespace: {{ include "vm.namespace" . }}
  labels: {{ include "vmalert.server.labels" . | nindent 4 }}
data:
  alert-rules.yaml: |{{ toYaml .Values.server.config.alerts | nindent 4 }}
{{- end }}
