{{ template "chart.typeBadge" . }} {{ template "chart.versionBadge" . }}
[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/victoriametrics)](https://artifacthub.io/packages/helm/victoriametrics/victoria-metrics-common)

{{ template "chart.description" . }}

{{ include "chart.helmDocs" . }}

## Parameters

The following table lists the template functions of the chart and description.

{{ template "chart.valuesTableHtml" . }}
