apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "chart.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "chart.labels" . | nindent 4 }}
data:
  config.yml: |
    {{ with .Values.vmanomalyConfig }}
    {{-  . | toYaml | nindent 4}}
    {{ end -}}


