# -- Overrides the chart's name
nameOverride: "vm-distributed"

# -- Overrides the chart's computed fullname.
fullnameOverride: ""

# -- Global chart properties
global:
  cluster:
    # -- K8s cluster domain suffix, uses for building storage pods' FQDN. Details are [here](https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/)
    dnsDomain: cluster.local.

common:
  vmauth:
    spec:
      port: "8427"
  vmagent:
    # -- Common VMAgent spec, which can be overridden by each VMAgent configuration.
    # Available parameters can be found [here](https://docs.victoriametrics.com/operator/api/index.html#vmagentspec)
    spec:
      port: "8429"
  vmcluster:
    # -- Common VMCluster spec, which can be overridden by each VMCluster configuration.
    # Available parameters can be found [here](https://docs.victoriametrics.com/operator/api/index.html#vmclusterspec)
    spec:
      vmselect:
        port: "8481"
      vminsert:
        port: "8480"
        serviceSpec:
          spec:
            clusterIP: None
            type: ClusterIP
  vmsingle:
    # -- Common VMSingle spec, which can be overridden by each VMSingle configuration.
    # Available parameters can be found [here](https://docs.victoriametrics.com/operator/api/index.html#vmsinglespec)
    spec:
      port: "8428"

write:
  global:
    vmauth:
      # -- Create a vmauth as the global write entrypoint
      enabled: true
      # -- Override the name of the vmauth object
      name: "vmauth-global-write-{{ .fullname }}"
      # -- Spec for VMAuth CRD, see [here](https://docs.victoriametrics.com/operator/api#vmauthspec)
      spec: {}

read:
  global:
    vmauth:
      # -- Create vmauth as the global read entrypoint
      enabled: true
      # -- Override the name of the vmauth object
      name: "vmauth-global-read-{{ .fullname }}"
      # -- Spec for VMAuth CRD, see [here](https://docs.victoriametrics.com/operator/api#vmauthspec)
      spec: {}

# -- Default config for each availability zone components, including vmagent, vmcluster, vmsingle, vmauth etc.
# Defines a template for each availability zone, which can be overridden for each availability zone at `availabilityZones[*]`
zoneTpl:
  common:
    # -- Common for [VMAgent](https://docs.victoriametrics.com/operator/api/#vmagentspec),
    # [VMAuth](https://docs.victoriametrics.com/operator/api/#vmauthspec),
    # [VMCluster](https://docs.victoriametrics.com/operator/api/#vmclusterspec) spec params, like nodeSelector,
    # affinity, topologySpreadConstraint, etc
    spec:
      nodeSelector:
        topology.kubernetes.io/zone: '{{ (.zone).name }}'
      affinity: {}
        # preferredDuringSchedulingIgnoredDuringExecution:
        # - weight: 1
        #   preference:
        #     matchExpressions:
        #     - key: topology.kubernetes.io/zone
        #       operator: In
        #       values:
        #       - us-central1-b
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
  write:
    # -- Allow data ingestion to this zone
    allow: true
    vmauth:
      # -- Create vmauth as a local write endpoint
      enabled: true
      # -- Override the name of the vmauth object
      name: "vmauth-write-balancer-{{ (.zone).name }}"
      # -- Spec for VMAuth CRD, see [here](https://docs.victoriametrics.com/operator/api#vmauthspec)
      spec:
        extraArgs:
          # vmauth discovers backend IPs via periodic DNS queries,
          # and performs load balancing between vminsert instances
          # check https://docs.victoriametrics.com/vmauth/#discovering-backend-ips
          discoverBackendIPs: "true"
  read:
    # -- Allow data query from this zone through global query endpoint
    allow: true
    perZone:
      vmauth:
        # -- Create vmauth as a local read endpoint
        enabled: true
        # -- Override the name of the vmauth object
        name: "vmauth-read-balancer-{{ (.zone).name }}"
        # -- Spec for VMAuth CRD, see [here](https://docs.victoriametrics.com/operator/api#vmauthspec)
        spec:
          extraArgs:
            discoverBackendIPs: "true"
    crossZone:
      vmauth:
        # -- Create a vmauth with all the zone with `allow: true` as query backends
        enabled: true
        # -- Override the name of the vmauth object
        name: "vmauth-read-proxy-{{ (.zone).name }}"
        # -- Spec for VMAuth CRD, see [here](https://docs.victoriametrics.com/operator/api#vmauthspec)
        spec: {}
  # vmagent here only meant to proxy write requests to each az,
  # doesn't support customized other remote write address.
  vmagent:
    # -- Create VMAgent remote write proxy
    enabled: true
    # -- Override the name of the vmagent object
    name: "vmagent-{{ (.zone).name }}"
    # -- VMAgent remote write proxy annotations
    annotations: {}
    # -- Spec for VMAgent CRD, see [here](https://docs.victoriametrics.com/operator/api#vmagentspec)
    spec: {}
  vmcluster:
    # -- Create VMCluster
    enabled: true
    # -- Override the name of the vmcluster, by default is <zoneName>
    name: "vmcluster-{{ (.zone).name }}"
    # -- Spec for VMCluster CRD, see [here](https://docs.victoriametrics.com/operator/api#vmclusterspec)
    spec:
      retentionPeriod: "14"
      replicationFactor: 2
      vmstorage:
        replicaCount: 2
        storageDataPath: "/vm-data"
        resources: {}
      vmselect:
        replicaCount: 2
        extraArgs: {}
        resources: {}
      vminsert:
        replicaCount: 2
        extraArgs: {}
        resources: {}
  vmsingle:
    # --Create VMSingle
    enabled: false
    # -- Override the name of the vmsingle, by default is <zoneName>
    name: "{{ (.zone).name }}"
    # -- Spec for VMSingle CRD, see [here](https://docs.victoriametrics.com/operator/api#vmsinglespec)
    spec:
      replicaCount: 1
      retentionPeriod: "14"
      resources: {}
      extraArgs: {}

# -- Config for all availability zones. Each element represents custom zone config, which overrides a default one from `zoneTpl`
availabilityZones:
  -
    # -- Availability zone name
    name: zone-eu-1
    # Define here overrides for current availability zone
    #
    # common:
    #   spec:
    #     nodeSelector:
    #       topology.kubernetes.io/zone: my-own-custom-zone
    # preferredDuringSchedulingIgnoredDuringExecution:
    # - weight: 1
    #   preference:
    #     matchExpressions:
    #     - key: topology.kubernetes.io/zone
    #       operator: In
    #       values:
    #       - us-central1-b
    # write:
    #   allow: false
    #   vmauth:
    #     name: custom-write-balancer-name
  - 
    # -- Availability zone name
    name: zone-us-1
    # Define here overrides for current availability zone
    #
    # common:
    #   spec:
    #     nodeSelector:
    #       topology.kubernetes.io/zone: my-own-custom-zone
    # preferredDuringSchedulingIgnoredDuringExecution:
    # - weight: 1
    #   preference:
    #     matchExpressions:
    #     - key: topology.kubernetes.io/zone
    #       operator: In
    #       values:
    #       - us-central1-b
    # write:
    #   allow: false
    #   vmauth:
    #     name: custom-write-balancer-name


# -- Set up an extra vmagent to scrape all the scrape objects by default,
# and write data to above write-global endpoint.
extra:
  vmagent:
    enabled: true
    name: test-vmagent
    spec:
      selectAllByDefault: true


# -- Enable multitenancy mode
# see [here](https://github.com/VictoriaMetrics/helm-charts/tree/master/charts/victoria-metrics-distributed#how-to-use-multitenancy)
enableMultitenancy: false

# -- Set up vm operator and other resources like vmalert, grafana if needed
victoria-metrics-k8s-stack:
  enabled: true
  victoria-metrics-operator:
    enabled: true
  vmagent:
    enabled: false
  vmsingle:
    enabled: false
  vmcluster:
    enabled: false
  alertmanager:
    enabled: false
  vmalert:
    enabled: false
  grafana:
    enabled: true 
