apiVersion: v2
name: victoria-metrics-k8s-stack
description: Kubernetes monitoring on VictoriaMetrics stack. Includes VictoriaMetrics Operator, Grafana dashboards, ServiceScrapes and VMRules
type: application
version: 0.14.14
appVersion: "1.89.1"
sources:
  - https://github.com/VictoriaMetrics/helm-charts

dependencies:
  - name: victoria-metrics-operator
    version: "0.19.*"
    repository: https://victoriametrics.github.io/helm-charts
    condition: victoria-metrics-operator.enabled
  - name: kube-state-metrics
    version: "4.24.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.enabled
  - name: prometheus-node-exporter
    version: "4.7.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-node-exporter.enabled
  - name: grafana
    version: "6.44.*"
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
