apiVersion: v2
name: victoria-metrics-k8s-stack
description: Kubernetes monitoring on VictoriaMetrics stack. Includes VictoriaMetrics Operator, Grafana dashboards, ServiceScrapes and VMRules
type: application
version: 0.3.1
appVersion: "1.63.0"

dependencies:
  - name: victoria-metrics-operator
    version: "0.1.*"
    repository: https://victoriametrics.github.io/helm-charts
    condition: operator.enabled
  - name: kube-state-metrics
    version: "3.4.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.enabled
  - name: prometheus-node-exporter
    version: "2.0.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-node-exporter.enabled
  - name: grafana
    version: "6.14.*"
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
