apiVersion: v2
name: victoria-metrics-k8s-stack
description: Kubernetes monitoring on VictoriaMetrics stack. Includes VictoriaMetrics Operator, Grafana dashboards, ServiceScrapes and VMRules
type: application
version: 0.2.0
appVersion: "1.16.0"

dependencies:
- name: victoria-metrics-operator
  version: "0.1.*"
  repository: https://victoriametrics.github.io/helm-charts
- name: kube-state-metrics
  version: "2.13.*"
  repository: https://kubernetes.github.io/kube-state-metrics
  condition: kube-state-metrics.enabled
- name: prometheus-node-exporter
  version: "1.15.*"
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus-node-exporter.enabled
- name: grafana
  version: "6.4.*"
  repository: https://grafana.github.io/helm-charts
  condition: grafana.enabled
