apiVersion: v2
name: victoria-metrics-k8s-stack
description: Kubernetes monitoring on VictoriaMetrics stack. Includes VictoriaMetrics Operator, Grafana dashboards, ServiceScrapes and VMRules
type: application
version: 0.7.11
appVersion: "1.75.0"

dependencies:
  - name: victoria-metrics-operator
    version: "0.8.*"
    repository: https://victoriametrics.github.io/helm-charts
    condition: operator.enabled
  - name: kube-state-metrics
    version: "4.4.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.enabled
  - name: prometheus-node-exporter
    version: "2.5.*"
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-node-exporter.enabled
  - name: grafana
    version: "6.21.*"
    repository: https://grafana.github.io/helm-charts
    condition: grafana.enabled
