{{- if .Values.horizontalPodAutoscaling.enabled }}
{{- $ctx := dict "helm" . }}
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  {{- $_ := set $ctx "extraLabels" .Values.extraLabels }}
  labels: {{ include "vm.labels" $ctx | nindent 4 }}
  name: {{ include "vm.plain.fullname" $ctx }}
  namespace: {{ include "vm.namespace" . }}
spec:
  maxReplicas: {{ .Values.horizontalPodAutoscaling.maxReplicas }}
  minReplicas: {{ .Values.horizontalPodAutoscaling.minReplicas }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "vm.plain.fullname" $ctx }}
  metrics: {{ toYaml .Values.horizontalPodAutoscaling.metrics | nindent 4 }}
  {{- with .Values.horizontalPodAutoscaling.behavior }}
  behavior: {{ toYaml . | nindent 4 }}
  {{- end -}}
{{- end -}}
