---
weight: 3
title: VictoriaMetrics Agent
menu:
  docs:
    parent: helm
    weight: 3
    identifier: helm-victoriametrics-agent
url: /helm/victoriametrics-agent
aliases:
  - /helm/victoriametrics-agent/index.html
  - /helm/victoria-metrics-agent/index.html
---
{{ template "chart.badges" . }}

{{ template "chart.description" . }}

## Prerequisites

* Install the follow packages: ``git``, ``kubectl``, ``helm``, ``helm-docs``. See this [tutorial](https://docs.victoriametrics.com/helm/requirements/).

{{ include "chart.installSection" . }}

## Upgrade guide

### Upgrade to 0.13.0

- replace `remoteWriteUrls` to `remoteWrite`:

Given below config

```yaml
remoteWriteUrls:
- http://address1/api/v1/write
- http://address2/api/v1/write
```

should be changed to

```yaml
remoteWrite:
- url: http://address1/api/v1/write
- url: http://address2/api/v1/write
```

{{ include "chart.uninstallSection" . }}

{{ include "chart.helmDocs" . }}

## Parameters

The following tables lists the configurable parameters of the chart and their default values.

Change the values according to the need of the environment in ``victoria-metrics-agent/values.yaml`` file.

{{ template "chart.valuesTableHtml" . }}
