{{- if eq .Values.secretName "" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.fullname" .}}
  namespace: {{ include "vm.namespace" . }}
  labels: {{- include "chart.labels" . | nindent 4 }}
type: Opaque
data:
  auth.yml: |
    {{ toYaml .Values.config | nindent 4 | b64enc }}
{{- end }}
