{{- $global := (dict "Values" (deepCopy .Values) "Release" (deepCopy .Release) "Chart" (deepCopy .Chart) "Template" (deepCopy .Template)) -}}
{{- $app := .Values.vmselect }}
{{- if and $app.enabled $app.statefulSet.enabled -}}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  {{- with $app.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
  {{- $ctx := merge (deepCopy $global) (dict "extraLabels" $app.extraLabels) }}
  labels: {{ include "victoria-metrics.vmselect.labels" $ctx | nindent 4 }}
  name: {{ template "victoria-metrics.vmselect.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  serviceName: {{ template "victoria-metrics.vmselect.fullname" . }}
  selector:
    matchLabels: {{ include "victoria-metrics.vmselect.matchLabels" . | nindent 6 }}
  replicas: {{ $app.replicaCount }}
  podManagementPolicy: {{ $app.statefulSet.podManagementPolicy }}
  template:
    metadata:
      {{- with $app.podAnnotations }}
      annotations: {{ toYaml . | nindent 8 }}
      {{- end }}
      labels: {{ include "victoria-metrics.vmselect.podLabels" $ctx | nindent 8 }}
    spec:
      {{- with $app.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      automountServiceAccountToken: {{ .Values.serviceAccount.automountToken }}
      {{- with $app.initContainers }}
      initContainers: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with ($app.imagePullSecrets | default .Values.global.imagePullSecrets) }}
      imagePullSecrets: {{ . }}
      {{- end }}
      containers:
        - name: {{ template "victoria-metrics.name" . }}-{{ $app.name }}
          image: {{ include "vm.image" (merge (deepCopy $global) (dict "app" $app)) }}
          imagePullPolicy: "{{ $app.image.pullPolicy }}"
          {{- with $app.containerWorkingDir }}
          workingDir: {{ . }}
          {{- end }}
          {{- if $app.securityContext.enabled }}
          securityContext: {{ include "common.compatibility.renderSecurityContext" (dict "secContext" $app.securityContext "context" .) | nindent 12 }}
          {{- end }}
          args:
            - --cacheDataPath={{ $app.cacheMountPath }}
            {{- if not (or $app.suppressStorageFQDNsRender $app.suppresStorageFQDNsRender) }}
            {{- include "victoria-metrics.vmselect.vmstorage-pod-fqdn" . | nindent 12 }}
            {{- end }}
            {{- include "victoria-metrics.vmselect.vmselect-pod-fqdn" . | nindent 12 -}}
            {{- range $key, $value := $app.extraArgs }}
            {{- if kindIs "slice" $value }}
            {{- range $v := $value }}
            - --{{ $key }}={{ $v }}
            {{- end }}
            {{- else }}
            - --{{ $key }}={{ $value }}
            {{- end }}
            {{- end }}
            {{- with (include "chart.license.flag" .) }}
            - {{ . }}
            {{- end }}
          {{- with $app.envFrom }}
          envFrom: {{ toYaml . | nindent 12 }}
          {{- end }}
          {{- with $app.env }}
          env: {{ toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8481
            {{- if $app.extraArgs.clusternativeListenAddr }}
            - name: cluster-tcp
              protocol: TCP
              containerPort: {{ include "split-host-port" $app.extraArgs.clusternativeListenAddr }}
            {{- end }}
          {{- with (fromYaml (include "vm.probe" (dict "app" $app "type" "readiness"))) }}
          readinessProbe: {{ toYaml . | nindent 12 }}
          {{- end }}
          {{- with (fromYaml (include "vm.probe" (dict "app" $app "type" "liveness"))) }}
          livenessProbe: {{ toYaml . | nindent 12 }}
          {{- end }}
          {{- with (fromYaml (include "vm.probe" (dict "app" $app "type" "startup"))) }}
          startupProbe: {{ toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - mountPath: {{ $app.cacheMountPath }}
              name: cache-volume
            {{- range .Values.vmstorage.extraHostPathMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              subPath: {{ .subPath }}
              readOnly: {{ .readOnly }}
            {{- end }}
            {{- with $app.extraVolumeMounts }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- include "chart.license.mount" . | nindent 12 }}
          {{- with $app.resources }}
          resources: {{ toYaml . | nindent 12 }}
          {{- end }}
        {{- with $app.extraContainers }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with $app.nodeSelector }}
      nodeSelector: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- if $app.podSecurityContext.enabled }}
      securityContext: {{ include "common.compatibility.renderSecurityContext" (dict "secContext" $app.podSecurityContext "context" .) | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "victoria-metrics.serviceAccountName" . }}
      {{- with $app.tolerations }}
      tolerations: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with $app.affinity }}
      affinity: {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- with $app.topologySpreadConstraints }}
      topologySpreadConstraints: {{ toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- with $app.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if not $app.persistentVolume.enabled }}
      - name: cache-volume
        emptyDir: {{ toYaml $app.emptyDir | nindent 12 }}
      {{- end }}
      {{- include "chart.license.volume" . | nindent 8 }}
  {{- if $app.persistentVolume.enabled }}
  volumeClaimTemplates:
    - apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: cache-volume
        {{- with $app.persistentVolume.annotations }}
        annotations: {{ toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.vmstorage.persistentVolume.labels }}
        labels: {{ toYaml . | nindent 10 }}
        {{- end }}
      spec:
        {{- with $app.persistentVolume.accessModes }}
        accessModes: {{ toYaml . | nindent 10 }}
        {{- end }}
        resources:
          requests:
            storage: "{{ $app.persistentVolume.size }}"
        {{- with $app.persistentVolume.storageClass }}
        storageClassName: {{ "" . (eq "-" .) }}
        {{- end }}
  {{- end }}
{{- end }}
