---
weight: 18
title: VictoriaTraces MCP
description: "Deploy the MCP server for AI assistant integration."
menu:
  docs:
    parent: helm
    weight: 18
    identifier: helm-victoria-traces-mcp
url: /helm/victoria-traces-mcp/
tags:
  - traces
  - kubernetes
  - mcp
  - observability
  - monitoring
  - victoriatraces
---
{{ template "chart.badges" . }}

{{ template "chart.description" . }}

{{ template "chart.prerequisites" . }}

## Chart Details

This chart will do the following:

* Rollout VictoriaTraces MCP server.

{{ include "chart.installSection" . }}

{{ include "chart.uninstallSection" . }}

## Parameters

The following tables lists the configurable parameters of the chart and their default values.

Change the values according to the need of the environment in ``victoria-traces-mcp/values.yaml`` file.

{{ template "chart.valuesTableHtml" . }}
