{{- $read := default dict }}
{{- if (((.Values.read).global).vmauth).enabled }}
  {{- $read = deepCopy ((.Values.read).global).vmauth }}
{{- else if (((.Values.rw).global).vmauth).enabled }}
  {{- $read = deepCopy ((.Values.rw).global).vmauth }}
{{- end }}
{{- $common := .Values.common.vmauth.spec }}
{{ if and $read.enabled (index .Values "victoria-metrics-k8s-stack" "grafana" "enabled") }}
  {{- $fullname := include "vm.fullname" . }}
  {{- $_ := set $read "spec" (mergeOverwrite (deepCopy $common) (deepCopy $read.spec)) }}
  {{- $ctx := dict "helm" . "appKey" (list "globalRead" "vmauth" "spec") "globalRead" (dict "vmauth" $read) "style" "managed" "fullname" $fullname }}
  {{- $url := (printf "%s/select/0/prometheus/" (include "vm.url" $ctx)) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullname }}-grafana-ds
  namespace: {{ include "vm.namespace" $ctx }}
  labels: {{ include "vm.labels" . | nindent 4 }}
    {{ index .Values "victoria-metrics-k8s-stack" "grafana" "sidecar" "datasources" "label" }}: "1"
data:
  datasource.yaml: |-
    apiVersion: 1
    datasources:
    - name: VictoriaMetrics
      type: prometheus
      url: {{ $url }}
      access: proxy
      isDefault: true
      jsonData: {}
{{- end }}

