{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "vm-operator.serviceAccountName" . }}
  namespace: {{ include "vm.namespace" . }}
  {{- $ctx := dict "helm" . "extraLabels" .Values.extraLabels }}
  labels: {{ include "vm-operator.labels" $ctx | nindent 4 }}
  {{- with .Values.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
