{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "victoria-metrics-k8s-stack.serviceAccountName" . }}
  namespace: {{ include "vm.namespace" . }}
  labels: {{ include "victoria-metrics-k8s-stack.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations: {{ toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
