{{- if and .Values.vmalert.enabled .Values.vmalert.templateFiles }}
{{- $ctx := dict "helm" . "appKey" "vmalert" }}
{{- $fullname := include "vm.plain.fullname" $ctx }}
{{- $ns := include "vm.namespace" $ctx }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ $fullname }}-extra-tpl
  namespace: {{ $ns }}
  labels: {{ include "vm.labels" $ctx | nindent 4 }}
data:
  {{- range $file, $template := .Values.vmalert.templateFiles }}
  {{ $file }}: |{{ $template | nindent 4 }}
  {{- end }}
{{- end }}
