{{- /* do not update crds here, please update in /victoria-metrics-operator/crd.yaml */ -}}
{{- /* this is used to add "helm.sh/resource-policy: keep" annotation for each crd */ -}}
{{- /* see this pull request https://github.com/VictoriaMetrics/helm-charts/pull/771 for details */ -}}
{{- if .Values.crds.plain }}
{{- $files := .Files }}
{{- $crds := $files.Get "crd.yaml" | splitList "---" }}
{{- $extra := dict "metadata" (dict "annotations" .Values.annotations "labels" .Values.labels) -}}
{{- range $crds }}
  {{- $crd := merge (fromYaml .) $extra }}
  {{- range $attrKey, $attrValue := $crd }}
    {{- $attrKey }}: {{ toJson $attrValue }}
    {{- printf "\n" -}}
  {{ end }}
  {{- print "\n---\n" }}
{{- end }}
{{- end }}
