name: "Pull Request Labeler"
on:
  pull_request_target:
    branches:
      - master

jobs:
  release:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v5
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          configuration-path: ".github/labeler.yaml"
