name: "Lint charts"

on:
  push:
    paths-ignore:
      - 'packages/**'
      - 'index.yaml'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'packages/**'
      - 'index.yaml'
      - '**.md'

env:
  HELM_VERSION: 3.11.3

jobs:
  lint-charts:
    name: Lint Charts
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@master

      - name: Install helm
        uses: yokawasa/action-setup-kube-tools@v0.9.2
        with:
          setup-tools: |
            helmv3
          helm: "${{ env.HELM_VERSION }}"

      - name: Run lint
        run: |
          make lint

      - name: Run template
        run: |
          make template
