name: "Test charts"

on:
  push:
    paths:
      - Makefile
      - 'charts/**'
      - 'test/**'
      - '!charts/*/lint/**'
      - '!**/*.md.gotmpl'
      - '!**/*.md'
      - '.github/workflows/run-testing.yaml'
    branches:
      - master
  pull_request:
    paths:
      - Makefile
      - 'charts/**'
      - 'test/**'
      - '!charts/*/lint/**'
      - '!**/*.md.gotmpl'
      - '!**/*.md'
      - '.github/workflows/run-testing.yaml'
    branches:
      - master

env:
  HELM_VERSION: 3.17.4

jobs:
  chart-tests:
    name: Run chart tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    if: github.event.pull_request.draft == false
    strategy:
      matrix:
        k8s_version: ["v1.31.12", "v1.32.8", "v1.33.4"]
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: test/go.mod
          check-latest: true
          cache-dependency-path: test/go.sum
        id: go

      - name: Install go-junit-report
        run: |
          go install github.com/joschi/go-junit-report/v2/cmd/go-junit-report@latest

      - name: Create Kind cluster
        uses: helm/kind-action@v1
        with:
          node_image: kindest/node:${{ matrix.k8s_version }}

      - name: Add helm repo dependencies
        run: yq -M eval '.repositories[] | (.name + " " + .url)' .github/ci/helm-repos.yaml | xargs -L 1 helm repo add

      - name: Run tests
        run: |
          cd test && go test -json -p 4 ./... 2>&1 | go-junit-report -set-exit-code -parser gojson -iocopy -out ../report.xml
        env:
          LICENSE_KEY: ${{ secrets.ENTERPRISE_COMPONENTS_LICENSE_KEY }}

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure()
        with:
          report_paths: 'report.xml'
